# Basic Python I

## Variables and Basic Operators

In [23]:
my_text = "Hello World"

my_number = 42

my_thruth = False

new_variable = my_number * 3

new_variable

126

In [24]:
9 // 2
9 % 2

1

Exercise:
* Create three variables `a`, `b` and `c`.
* Assign the values `3` to `a` and `4` to `b`.
* Assign `c` the sum of `a` squared and `b` squared to `c`.
* Output the value of `c`.

In [25]:
a = 3
b = 4
c = a * a + b * b
c = a ** 2 + b ** 2

a = "Apples"
a = None

## Tuples

In [26]:
my_tuple = ("Apples", "Bananas")

my_tuple = (42, "Lemons")

new_tuple = (1, 2, 3, 4, "With other types", True, False)

character = ("My Hero", 12, 1000, True)

In [27]:
character[1]

12

## Lists

In [28]:
character = ["My Hero", 12, 1000, True]

my_list = ["Apples", "Bananas", "Oranges"]

my_list = [42, "Lemons", True, 3.14159]

my_list

[42, 'Lemons', True, 3.14159]

In [29]:
my_number = 1

my_list[my_number]

'Lemons'

In [47]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
my_list

[1, 2, 3, 4, 5, 6]

In [48]:
result = my_list.pop(-2)
result

5

## Dictionaries

In [33]:
my_dict = {
    "Apples": 5,
    "Bananas": 17,
    "Lemons": 42
}

my_dict["Bananas"]

17

Exercise:

* Create two "characters" as dictionaries
* Each has a name (text) and a level (number)
* Determine the difference in level

In [42]:
c1 = {
    "name": "Ahmed",
    "level": 100
}
c2 = {
    "name": "David",
    "level": 200
}
diff = c1["level"] - c2["level"]

import math

math.sqrt(abs(diff))

10.0

In [49]:
adj = 5
opp = 8
hyp = math.sqrt(adj ** 2 + opp ** 2)
hyp

9.433981132056603

## Functions

In [57]:
def pythagoras(adj = 0, opp = 0):
    return math.sqrt(adj ** 2 + opp ** 2)
    print("Too bad you miss me....")

pythagoras(3, 5)
pythagoras(5)

5.0

Exercise:

Write a function to calculate the squared distance of two numbers.

In [61]:
def sqd (a, b = 0):
    return pow(a - b, 2)
    #return (a - b) ** 2

d = sqd(2, 4)

has_it_worked = d == 4
has_it_worked

True

In [ ]:
1 == 2 # False
1 < 2 # True
2 > 1 # True
1 <= 2 # True
1 >= 2 # False
1 != 2 # True