# Python for Data Science I

## Pandas

In [90]:
import pandas as pd

## Series

In [91]:
s = pd.Series()

In [92]:
s = pd.Series([1, 2, 3, 4, 5])

In [93]:
s = pd.Series([1, 2, 3, 4, 5], index=[2, 4, 6, 8, 10])

In [94]:
idx = ['A', 'B', 'C', 'D', 'E']
s1 = pd.Series([10, 8, 6, 4, 2], index=idx)
s2 = pd.Series([1, 2, 3, 4, 5], index=idx)
s1, s2

(A    10
 B     8
 C     6
 D     4
 E     2
 dtype: int64,
 A    1
 B    2
 C    3
 D    4
 E    5
 dtype: int64)

In [95]:
s3 = s1 - s2
s3

A    9
B    6
C    3
D    0
E   -3
dtype: int64

## DataFrames

In [96]:
df = pd.DataFrame({
    'column1': s1,
    'column2': s2
})
df.head()

   column1  column2
A       10        1
B        8        2
C        6        3
D        4        4
E        2        5

In [97]:
df['column1']

A    10
B     8
C     6
D     4
E     2
Name: column1, dtype: int64

In [98]:
df.iloc[1 : 3]

   column1  column2
B        8        2
C        6        3

In [99]:
df.iloc[1 : 3, 1 : 2]

   column2
B        2
C        3

In [100]:
df[ df['column1'] <= 4 ]

   column1  column2
D        4        4
E        2        5

In [101]:
s = df['column1']

s[ df['column1'] <= 4 ]

D    4
E    2
Name: column1, dtype: int64

In [102]:
df['sum'] = df['column1'] + df['column2']
df

   column1  column2  sum
A       10        1   11
B        8        2   10
C        6        3    9
D        4        4    8
E        2        5    7

In [103]:
df = pd.read_csv('../data/my_data.csv')
df

          name  age favorite_color
0        Niels   32         Yellow
1   Daisy Duck   21           Pink
2  Donald Duck   23           Blue

In [104]:
df['name']

0          Niels
1     Daisy Duck
2    Donald Duck
Name: name, dtype: object

In [105]:
df['age']

0    32
1    21
2    23
Name: age, dtype: int64

Exercise:

In [106]:
import pandas as pd
import urllib.parse

sheet_id = '1jUMAa75_psDoYlnhly6Rbevfs_VPdmYuCMvsdXGImPQ'
sheet_name = 'Form Responses 1'

def google_sheet_csv(id, name):
    sheet = urllib.parse.quote_plus(name)
    return f'https://docs.google.com/spreadsheets/d/{id}/gviz/tq?tqx=out:csv&sheet={sheet}'


df = pd.read_csv(google_sheet_csv(sheet_id, sheet_name))

df.head()

,Timestamp,How old are you? (Full years),Which gender do you identify with?,What month were you born in?,Which semester are you studying in?,Which operating system do you use?,What was your Python experience BEFORE the course?,What was your statistics knowledge BEFORE the course?,How long is your daily commute to university? (Estimate one-way in minutes),Do you prefer online or in-person lectures?,Do you prefer a continuous project or isolated exercises?
0,5/14/2024 7:46:13,21,Male,October,1,Windows,Had Python installed and played with it (basic...,Knew some basic concepts (statistical paramete...,45,5,2
1,5/14/2024 7:46:21,27,Diverse,May,1,Windows,Had Python installed and played with it (basic...,Knew some basic concepts (statistical paramete...,90,5,1
2,5/14/2024 7:46:51,24,Male,July,1,Windows,No previous experience,No previous knowledge,40,5,3
3,5/14/2024 7:47:10,28,Male,December,1,Windows,Used Python in class or on personal projects,Knew most of the topics from the course,70,2,4
4,5/14/2024 7:47:49,24,Male,July,1,Windows,No previous experience,No previous knowledge,40,4,3